* {
  box-sizing: border-box;
}

body {
  background: #efefef;
  color: #333;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style:normal;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:300;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #007bff;
  text-decoration: none;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  background: #00b2f8;
  color: #fff;
  width: 100%;
}


/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  background: #00b2f8;
  color: #fff;
  width: 20%;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  background: #fff;
  color: #555;
  width: 80%;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  padding: 10px;
  color: #999;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  body {
    padding: 0px;
  }
  .column {
    width: 100%;
  }
  .column1 {
    width: 25%;
  }
  .column2 {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0px;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}
