<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex, nofollow, noimageindex, noarchive, nocache, nosnippet, noodyp, noydir">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="day-prompt" content="days ago">
<meta name="hour-prompt" content="hours ago">
<meta name="minute-prompt" content="minutes ago">
<meta name="justnow-prompt" content="just now">
<title>About | Mohamad Rido</title>
<meta itemprop="description" name="description" content="Mohamad Rido" />
<meta property="og:locale" content="en">
<meta property="og:type" content="website">
<meta property="og:title" content="About">
<meta property="og:url" content="https://about.mohamadrido.com/">
<meta property="og:site_name" content="About">
<meta property="article:publisher" content="http://www.facebook.com/blogrido" />
<meta property="article:author" content="https://www.facebook.com/blogrido" />
<meta property="og:description" content="Mohamad Rido">
<meta content="Mohamad Rido" name="Author">
<meta content="https://www.facebook.com/blogrido" property="website:author">
<meta content="Mohamad Rido" name="twitter:site">
<meta content="summary_large_image" name="twitter:card">
<meta content="@mohamadrido_" name="twitter:creator">
<link rel="canonical" href="https://about.mohamadrido.com/">
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
{{ content }}
<footer class="footer">
&copy; 2018 - 2022 Mohamad Rido
</footer>
</body>
</html>
